/* Empty. Add your own CSS if you like */
ion-view.pane:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 44px;
    background-color: #886aea;
}
